<!DOCTYPE html>
<html>
<head>
    <title>HELLOOOOO</title>
    <meta name="viewport"
    content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

    <link href="css/bootstrap.css"
          rel="stylesheet" type="text/css">
    <link href="css/stylesheet.css"
          rel="stylesheet" type="text/css">
</head>
<body ng-app="RCapp">
  <div class="item" style="background: url(img/heartbeat.jpg) no-repeat center center; background-size: cover;">
    <div class="container"><br><br><br><br><br>
      <div class="page-header">
        <h1  style="color: white">HealthyMe</h1>
      </div>

    </div>
    <br><br>
  </div>
  <div class="container">
    <div ng-controller="qCtrl">
      <form novalidate class="simple-form">
          <p>Gender:  <input type="radio" ng-model="user.gender" value="male"/> male
          <input type="radio" ng-model="user.gender" value="female"/> female  <br><br></p>
          <span>Weight: </span><input type="number" ng-model="user.weight"/><br><br>
          <span>Height: </span><input type="number" ng-model="user.height"/><br><br>
          <p>Do you smoke?  <input type="radio" value="yes" ng-model="user.smoke"> yes
          <input type="radio" value="no" ng-model="user.smoke"> no<br><br></p>
          <p>Do you drink? <input type="radio" value ="yes" ng-model="user.drink"> yes
            <input type="radio" value="no" ng-model="user.drink"> no<br><br></p>
          <p>Do you or anyone in your family a history of depression or anxiety? <input type="radio" value="yes" ng-model="user.emo"> yes
            <input type="radio" value="no" ng-model="user.emo"> no <br><br></p>



          <input type="button" ng-click="update(user)" value="Submit"/>

        </form><br><br><br><br><br><br><br>
    </div>
  </div>
</body>
</html>
