<!DOCTYPE html>
<html>
<head>
    <title>HELLOOOOO</title>
    <meta name="viewport"
    content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

    <link href="css/bootstrap.css"
          rel="stylesheet" type="text/css">
    <link href="css/stylesheet.css"
          rel="stylesheet" type="text/css">
</head>
<body ng-app="RCapp">
  <div class="item" style="background: url(img/heartbeat.jpg) no-repeat center center; background-size: cover;">
    <div class="container"><br><br><br><br><br>
      <div class="page-header">
        <h1 style="color: white">HealthyMe</h1>
      </div>
    </div>
    <br><br>
  </div>


  <div class="container">
    <div ui-view></div>
    <button type="button" class="btn btn-default"
     ui-sref="questions">Questions</button>
     <button type="button" class="btn btn-default"
      ui-sref="results">Results</button>
<!--    <div ng-controller="qCtrl">
      <form novalidate class="simple-form">
          Gender: <input type="radio" ng-model="user.gender" value="male"/>male
          <input type="radio" ng-model="user.gender" value="female"/>female  <br>
          <input type="button" ng-click="update(user)" value="Submit"/>
        </form>
    </div>-->
  </div>
</body>
</html>
